# https://help.github.com/articles/about-codeowners/

* @davin111
apps/snutt-dev/ @wafflestudio/snutt-server
apps/snutt-prod/ @wafflestudio/snutt-server
apps/sso-dev/ @wafflestudio/sso
apps/guam/ @wafflestudio/Guam
