# https://help.github.com/articles/about-codeowners/

* @davin111 @wafflestudio/waffle-k8s-admin
apps/snutt-dev/ @wafflestudio/snutt-server @wafflestudio/snutt-frontend
apps/snutt-prod/ @wafflestudio/snutt-server @wafflestudio/snutt-frontend
apps/sso-dev/ @wafflestudio/sso
apps/guam/ @wafflestudio/guam
apps/seminar/ @wafflestudio/seminar
