* @wafflestudio/waffle-k8s-admin
apps/istio-util/ @wafflestudio/waffle-k8s-admin
apps/snutt-dev/ @wafflestudio/snutt-server
apps/snutt-dev/snutt-ev-web/ @wafflestudio/snutt-frontend
apps/snutt-prod/ @wafflestudio/snutt-server
apps/snutt-prod/snutt-ev-web/ @wafflestudio/snutt-frontend
apps/truffle-prod/ @davin111 @PFCJeong
apps/sso-dev/ @wafflestudio/sso
apps/sso-prod/ @wafflestudio/sso
apps/siksha-dev/ @wafflestudio/siksha
apps/siksha-prod/ @wafflestudio/siksha
apps/waffledotcom-dev/ @wafflestudio/waffledotcom-backend
apps/waffledotcom-prod/ @wafflestudio/waffledotcom-backend
apps/wacruit-dev/ @wafflestudio/waffledotcom-backend
apps/wacruit-prod/ @wafflestudio/waffledotcom-backend
apps/pupuri-prod/ @wafflestudio/pupuri
apps/k8s-monitoring/ @PFCJeong @wafflestudio/waffle-k8s-admin
apps/snugo/snugo-server/ @wafflestudio/snugo
apps/areyouhere/ @wafflestudio/areyouhere
apps/hodu-dev/ @wafflestudio/hodu
apps/hodu-prod/ @wafflestudio/hodu
apps/internhasha-dev @wafflestudio/internhasha
apps/internhasha-prod @wafflestudio/internhasha
apps/memowithtags-dev @wafflestudio/memo-with-tags
apps/memowithtags-prod @wafflestudio/memo-with-tags
