apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: argocd
  name: prometheus
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
  - repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 48.1.1
    helm:
      releaseName: prometheus
      valueFiles:
      - $values/charts/prometheus/values.yaml
  - repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: HEAD
    ref: values
  - repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: HEAD
    path: charts/prometheus/templates
  destination:
    server: {{ .Values.spec.destination.server }}
    namespace: monitoring
  syncPolicy:
    {{- .Values.spec.syncPolicy | toYaml | nindent 4 }}
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
