apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: argocd
  name: prometheus
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
  - repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 48.1.1
    helm:
      releaseName: prometheus
      valuesObject:
        alertmanager:
          alertmanagerSpec:
            resources:
              requests:
                memory: 50Mi
              limits:
                memory: 100Mi
        grafana:
          enabled: true
          defaultDashboardsTimezone: Asia/Seoul
          adminPassword: # secret
          podAnnotations:
            sidecar.istio.io/inject: "true"
          sidecar:
            dashboards:
              enabled: true
              label: grafana_dashboard
              labelValue: "1"
              searchNamespace: ALL
              folderAnnotation: grafana_folder
              provider:
                foldersFromFilesStructure: true
          grafana.ini:
            server:
              root_url: https://grafana.wafflestudio.com
            auth.github:
              enabled: true
              allow_sign_up: true
              scopes: user:email,read:org
              auth_url: https://github.com/login/oauth/authorize
              token_url: https://github.com/login/oauth/access_token
              api_url: https://api.github.com/user
              allowed_organizations: wafflestudio
              client_id: 75c8b088348e91be1e97
              client_secret: # secret
        prometheus:
          enabled: true
          prometheusSpec:
            retention: 10d
            resources:
              requests:
                memory: 200Mi
              limits:
                memory: 1Gi
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: gp2
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 20Gi
            additionalScrapeConfigs:
              - job_name: 'istiod'
                kubernetes_sd_configs:
                  - role: endpoints
                    namespaces:
                      names:
                        - istio-system
                relabel_configs:
                  - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
                    action: keep
                    regex: istiod;http-monitoring
              - job_name: 'envoy-stats'
                metrics_path: /stats/prometheus
                kubernetes_sd_configs:
                  - role: pod
                relabel_configs:
                  - source_labels: [__meta_kubernetes_pod_container_port_name]
                    action: keep
                    regex: '.*-envoy-prom'
              - job_name: 'istio-mesh'
                kubernetes_sd_configs:
                  - role: endpoints
                    namespaces:
                      names:
                        - istio-system
                relabel_configs:
                  - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
                    action: keep
                    regex: istio-telemetry;prometheus
              - job_name: 'istio-telemetry'
                kubernetes_sd_configs:
                  - role: endpoints
                    namespaces:
                      names:
                        - istio-system
                relabel_configs:
                  - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
                    action: keep
                    regex: istio-telemetry;http-monitoring
              - job_name: 'istio-policy'
                kubernetes_sd_configs:
                  - role: endpoints
                    namespaces:
                      names:
                        - istio-system
                relabel_configs:
                  - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
                    action: keep
                    regex: istio-policy;http-policy-monitoring
  - repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: HEAD
    path: apps/prometheus
  destination:
    server: {{ .Values.spec.destination.server }}
    namespace: monitoring
  syncPolicy:
    {{- .Values.spec.syncPolicy | toYaml | nindent 4 }}
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
