apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - groups:
      - system:bootstrappers
      - system:nodes
      rolearn: arn:aws:iam::405906814034:role/AmazonEKSNodeRole
      username: system:node:{{EC2PrivateDNSName}}
  mapUsers:
    # cluster_creator: arn:aws:iam::405906814034:user/bdv111@wafflestudio.com
    |
    - groups:
      - system:masters
      userarn: arn:aws:iam::405906814034:user/jon.snow@wafflestudio.com
      username: jon.snow@wafflestudio.com
    - groups:
      - system:masters
      userarn: arn:aws:iam::405906814034:user/zlzlqlzl1@wafflestudio.com
      username: jhvictor4@wafflestudio.com
    - groups:
      - system:masters
      userarn: arn:aws:iam::405906814034:user/jhvictor4@wafflestudio.com
      username: jhvictor4@wafflestudio.com
    - groups:
      - system:masters
      userarn: arn:aws:iam::405906814034:user/marcel@wafflestudio.com
      username: marcel@wafflestudio.com
    - groups:
      - system:masters
      userarn: arn:aws:iam::405906814034:user/shp7724
      username: shp7724
    - groups:
      - system:masters
      userarn: arn:aws:iam::405906814034:user/ganzidaeyong@wafflestudio.com
      username: ganzidaeyong@wafflestudio.com
