apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - groups:
      - system:bootstrappers
      - system:nodes
      rolearn: arn:aws:iam::405906814034:role/AmazonEKSNodeRole
      username: system:node:{{EC2PrivateDNSName}}
  mapUsers:
    # cluster_creator: arn:aws:iam::405906814034:user/bdv111@wafflestudio.com
    |
    - username: jon.snow@wafflestudio.com
      userarn: arn:aws:iam::405906814034:user/jon.snow@wafflestudio.com
      groups:
      - system:masters
    - username: zlzlqlzl1@wafflestudio.com
      userarn: arn:aws:iam::405906814034:user/zlzlqlzl1@wafflestudio.com
      groups:
      - system:masters
      - snutt-developers
    - username: kevin990222
      userarn: arn:aws:iam::405906814034:user/kevin990222
      groups:
      - system:masters
    - username: eastshine2741
      userarn: arn:aws:iam::405906814034:user/eastshine2741
      groups:
      - system:masters
    - username: anandashin
      userarn: arn:aws:iam::405906814034:user/anandashin
      groups:
      - system:masters
    - username: JunBye
      userarn: arn:aws:iam::405906814034:user/JunBye
      groups:
      - system:masters
    - username: huGgW
      userarn: arn:aws:iam::405906814034:user/huGgW
      groups:
      - system:masters
    - username: gs18113
      userarn: arn:aws:iam::405906814034:user/gs18113
      groups:
      - system:masters
    
    - username: ars-ki-00
      userarn: arn:aws:iam::405906814034:user/ars-ki-00
      groups:
      - snutt-developers
