app:
  metadata:
    namespace: argocd

configs:
  cm:
    admin.enabled: false
    exec.enabled: true
    timeout.reconciliation: 15s
    url: https://argocd.wafflestudio.com
    dex.config: |
      connectors:
      - type: github
        id: github
        name: GitHub
        config:
          clientID: fa41a9ad8f42f7e4be31
          clientSecret: $dex.github.clientSecret
          orgs:
          - name: wafflestudio
  params:
    server.insecure: true
  rbac:
    policy.csv: |
      g, wafflestudio:waffle-k8s-admin, role:waffle-k8s-admin
      p, role:waffle-k8s-admin, applications, *, */*, allow
      p, role:waffle-k8s-admin, clusters, get, *, allow
      p, role:waffle-k8s-admin, repositories, get, *, allow
      p, role:waffle-k8s-admin, repositories, create, *, allow
      p, role:waffle-k8s-admin, repositories, update, *, allow
      p, role:waffle-k8s-admin, repositories, delete, *, allow
      p, role:waffle-k8s-admin, exec, create, */*, allow

      g, wafflestudio:snutt-server, role:snutt-server
      p, role:snutt-server, applications, *, default/snutt-ev, allow
      p, role:snutt-server, exec, create, default/snutt-ev, allow
      p, role:snutt-server, applications, *, default/snutt-ev-dev, allow
      p, role:snutt-server, exec, create, default/snutt-ev-dev, allow
      p, role:snutt-server, applications, *, default/snutt-ev-batch, allow
      p, role:snutt-server, exec, create, default/snutt-ev-batch, allow
      p, role:snutt-server, applications, *, default/snutt-ev-batch-dev, allow
      p, role:snutt-server, exec, create, default/snutt-ev-batch-dev, allow
      p, role:snutt-server, applications, *, default/snutt-timetable, allow
      p, role:snutt-server, exec, create, default/snutt-timetable, allow
      p, role:snutt-server, applications, *, default/snutt-timetable-dev, allow
      p, role:snutt-server, exec, create, default/snutt-timetable-dev, allow
      p, role:snutt-server, applications, *, default/snutt-timetable-batch, allow
      p, role:snutt-server, exec, create, default/snutt-timetable-batch, allow
      p, role:snutt-server, applications, *, default/snutt-timetable-batch-dev, allow
      p, role:snutt-server, exec, create, default/snutt-timetable-batch-dev, allow

      g, wafflestudio:snutt-frontend, role:snutt-frontend
      p, role:snutt-frontend, applications, *, default/snutt-ev-web, allow
      p, role:snutt-frontend, exec, create, default/snutt-ev-web, allow
      p, role:snutt-frontend, applications, *, default/snutt-ev-web-dev, allow
      p, role:snutt-frontend, exec, create, default/snutt-ev-web-dev, allow
      p, role:snutt-frontend, applications, *, default/snutt-theme-market, allow
      p, role:snutt-frontend, exec, create, default/snutt-theme-market, allow
      p, role:snutt-frontend, applications, *, default/snutt-theme-market-dev, allow
      p, role:snutt-frontend, exec, create, default/snutt-theme-market-dev, allow

      g, wafflestudio:Siksha, role:siksha
      p, role:siksha, applications, *, default/siksha-api-server, allow
      p, role:siksha, exec, create, default/siksha-api-server, allow
      p, role:siksha, applications, *, default/siksha-api-server-dev, allow
      p, role:siksha, exec, create, default/siksha-api-server-dev, allow
      p, role:siksha, applications, *, default/siksha-crawler, allow
      p, role:siksha, exec, create, default/siksha-crawler, allow
      p, role:siksha, applications, *, default/siksha-crawler-dev, allow
      p, role:siksha, exec, create, default/siksha-crawler-dev, allow
      p, role:siksha, applications, *, default/siksha-spring-server-dev, allow
      p, role:siksha, exec, create, default/siksha-spring-server-dev, allow

      g, wafflestudio:Siksha-server-data, role:siksha-server-data
      p, role:siksha-server-data, applications, *, default/siksha-api-server, allow
      p, role:siksha-server-data, exec, create, default/siksha-api-server, allow
      p, role:siksha-server-data, applications, *, default/siksha-api-server-dev, allow
      p, role:siksha-server-data, exec, create, default/siksha-api-server-dev, allow
      p, role:siksha-server-data, applications, *, default/siksha-crawler, allow
      p, role:siksha-server-data, exec, create, default/siksha-crawler, allow
      p, role:siksha-server-data, applications, *, default/siksha-crawler-dev, allow
      p, role:siksha-server-data, exec, create, default/siksha-crawler-dev, allow
      p, role:siksha-server-data, applications, *, default/siksha-spring-server-dev, allow
      p, role:siksha-server-data, exec, create, default/siksha-spring-server-dev, allow

      g, wafflestudio:waffledotcom-backend, role:waffledotcom-backend
      p, role:waffledotcom-backend, applications, *, default/waffledotcom-server, allow
      p, role:waffledotcom-backend, exec, create, default/waffledotcom-server, allow
      p, role:waffledotcom-backend, applications, *, default/waffledotcom-server-dev, allow
      p, role:waffledotcom-backend, exec, create, default/waffledotcom-server-dev, allow
      p, role:waffledotcom-backend, applications, *, default/wacruit-judge, allow
      p, role:waffledotcom-backend, exec, create, default/wacruit-judge, allow
      p, role:waffledotcom-backend, applications, *, default/wacruit-judge-dev, allow
      p, role:waffledotcom-backend, exec, create, default/wacruit-judge-dev, allow
      p, role:waffledotcom-backend, applications, *, default/wacruit-server, allow
      p, role:waffledotcom-backend, exec, create, default/wacruit-server, allow
      p, role:waffledotcom-backend, applications, *, default/wacruit-server-dev, allow
      p, role:waffledotcom-backend, exec, create, default/wacruit-server-dev, allow

      g, wafflestudio:pupuri, role:pupuri
      p, role:pupuri, applications, *, default/pupuri-bot, allow
      p, role:pupuri, exec, create, default/pupuri-bot, allow

      g, wafflestudio:sso, role:sso
      p, role:sso, applications, *, default/sso-kong-gateway, allow
      p, role:sso, exec, create, default/sso-kong-gateway, allow
      p, role:sso, applications, *, default/sso-kong-gateway-dev, allow
      p, role:sso, exec, create, default/sso-kong-gateway-dev, allow
      p, role:sso, applications, *, default/sso-account-server, allow
      p, role:sso, exec, create, default/sso-account-server, allow
      p, role:sso, applications, *, default/sso-account-server-dev, allow
      p, role:sso, exec, create, default/sso-account-server-dev, allow

      g, wafflestudio:areyouhere, role:areyouhere
      p, role:areyouhere, applications, *, default/areyouhere-server, allow
      p, role:areyouhere, exec, create, default/areyouhere-server, allow

      g, wafflestudio:memo-with-tags, role:memo-with-tags
      p, role:memo-with-tags, applications, *, default/memowithtags, allow
      p, role:memo-with-tags, exec, create, default/memowithtags, allow
      p, role:memo-with-tags, applications, *, default/memowithtags-dev, allow
      p, role:memo-with-tags, exec, create, default/memowithtags-dev, allow
    policy.default: role:readonly

applicationSet:
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 64Mi

controller:
  resources:
    limits:
      cpu: 500m
      memory: 384Mi
    requests:
      cpu: 250m
      memory: 384Mi

dex:
  enabled: true
  resources:
    limits:
      cpu: 50m
      memory: 64Mi
    requests:
      cpu: 10m
      memory: 64Mi

notifications:
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 64Mi

redis:
  resources:
    limits:
      cpu: 200m
      memory: 64Mi
    requests:
      cpu: 100m
      memory: 64Mi

repoServer:
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 20m
      memory: 128Mi

server:
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 128Mi
